html {
    background: url("../images/bg.png");
}

body,
p,
h3,
a {
    font-family: 'Advent Pro', sans-serif;
}

#main_content {
    margin: 100px 0;
}

.row {
    margin-top: 40px;
    margin-bottom: 60px;
}

.name_content h3 a {
    display: block;
    position: relative;
    font-size: 1.45em;
    top: 55px;
    left: -45px;
    color: #2b2b2b;
    width: 160px;
    text-align: right;
    text-shadow: 1px 1px 0 rgba(43, 43, 43, 0.4);
    font-weight: normal;
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
}

.row:hover .name_content h3 a {
    color: #fefefe;
}


.name_content h3 a:after {
    display: block;
    position: relative;
    font-size: 4.2em;
    top: -40px;
    left: 35px;
    content: "{";
    color: #868686;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}

.color_box_wrapper {
    height: 140px;
    border-bottom-right-radius: 17px;
    box-shadow: 0 1px 0 rgba(43, 43, 43, 0.1);
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.45)));
}

.color_box_content {
    color: #fefefe;
    display: block;
    position: relative;
    font-size: 1.7em;
    top: 105px;
    right: 5px;
    margin: 5px 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-align: right;
}

#about .promote {
    top: 20px;
}

#about a {
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
}

#about span {
    color: #d64551;
}

#about a:hover {
    color: #d64551;
}
